*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

/* MAIN NAV BAR  */
#mainBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vw 5vw 2.5vw 5vw;
    background-color: rgb(250, 250, 250);
}
.navbar{
    visibility: visible;
}
.mobile{
    visibility: hidden;
    position:absolute;
}
.menu{
    visibility: hidden;
    position: absolute;
    border: none;
    width: 8vw;
}

.menu2{
    border: none;
    color: red;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
}
.menuaux {
    visibility: hidden;
    position: absolute;
}
.rightbar{
    width: 50vw;

}
.rightbar img{
    width: 3vw;
    min-width: 50px;
}
.leftbar{
    width: 40vw;
    display: flex;
    justify-content: space-around;
}
.menubar{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 900;
}
.menubar2{
    text-decoration: none;
    color: black;
    font-size: 1.8vw;
    font-weight: 900;
}

.popupmenu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100vw;
    z-index: 10;

}

.menu img{
    width: 8vw;
}
.menuInterno{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    height: 25vw;
    width: 500px;
    max-width: 100%;
    padding: 2vw 3vw;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    text-align: center;
}
.close {
    width: 3vw;
}
.show {
    pointer-events: auto;
    opacity: 1;
    background-color: rgba(116, 116, 116, 0.3);
}
/* MAIN CONTAINER */
.mainContainer{
    height: 500px;
    opacity: 1;
    z-index: 0;
}
.content{
    position: relative;
    width: 80%;
    margin: 0% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: black;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: rgb(23, 109, 27);
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: rgb(0, 0, 0);
}
.content .textBox a{
    display: inline-block;
    margin-top: 1vw;
    padding: 1vw 2vw;
    background-color: rgb(23, 109, 27);
    color: white;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox{
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 3vw;
    margin-top: 3vw;
}

.content .imgBox img{
    max-width: 340px;
}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 0vw;
    top: 520px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 2vw;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li img {
    max-width: 50px;
}
.social{
    position: absolute;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social li{
    list-style: none;
}
.social li a {
    display:  inline-block;
    margin: 5px 0;
    transform: scale(0.6);
} 
.circle{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c4e2c;
    clip-path: circle(400px at right 700px);
}
@media (max-width:1280px)
{
    /* MAIN NAV BAR  */
    #mainBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5vw 2vw 2.5vw 5vw;
    }

    .rightbar{
        width: 50vw;
    }
    .rightbar img{
        width: 4.5vw;
        min-width: 50px;
    }
    .leftbar{
        width: 40vw;
        display: flex;
        justify-content: space-around;
    }
    .menubar{
        text-decoration: none;
        color: black;
        font-size: 1.7vw;
        font-weight: 900;
    }

    /* MAIN CONTAINER */


    .content{
        position: relative;
        width: 80%;
        margin: 0% 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content .textBox{
        position: relative;
        max-width: 50vw;
    }
    .content .textBox h2{
        color: black;
        font-size: 3em;
        line-height: 1.4em;
        font-weight: 500;
    }
    .content .textBox h2 span{
        color: rgb(23, 109, 27);
        font-size: 1.2em;
        font-weight: 900;
    }
    .content .textBox p{
        color: rgb(0, 0, 0);
        font-weight: 500;
    }
    .content .textBox a{
        display: inline-block;
        margin-top: 1vw;
        padding: 0.5vw 2vw;
        background-color: rgb(23, 109, 27);
        color: white;
        border-radius: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
    }
    .content .imgBox{
        width: 30vw;
        display: flex;
        justify-content: flex-end;
        padding-right: 3vw;
        margin-top: 3vw;
    }
    
    .content .imgBox img{
        max-width: 250px;
    }
    
}

@media (max-width:768px)
{
    /* MAIN NAV BAR  */
    #mainBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5vw 5vw 2.5vw 5vw;
    }

    .menu{
        visibility:visible;
        border: none;
        display: flex;
        pointer-events: auto;
        align-items: center;
        justify-content: flex-end;
        height: 5vw;
        width: 5vw;
        background-color: rgb(250, 250, 250);
        pointer-events: auto;

    }
    .leftbar{
        width: 50vw;
        height: 5vw;
        display: flex;
        justify-content: flex-end;
    }
    .menubar{
        visibility: hidden;
        position: absolute;
    }
    .menu img{
        border: none;
        width: 5vw;
    }
    .rightbar{
        width: 43vw;
    }
    .rightbar img{
        width: 7vw;
        min-width: 50px;
    }
    /* MAIN CONTAINER */

    .thumb {
        position: absolute;
        left: 50%;
        bottom: 0vw;
        top: 800px;
        transform: translateX(-50%);
        display: flex;
    }
    .content{
        position: relative;
        width: 80%;
        margin: 0% 5%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .content .textBox{
        position: relative;
        max-width: 70vw;
    }
    .content .textBox h2{
        color: black;
        font-size: 3em;
        line-height: 1.4em;
        font-weight: 500;
    }
    .content .textBox h2 span{
        color: rgb(23, 109, 27);
        font-size: 1.2em;
        font-weight: 900;
    }
    .content .textBox p{
        color: rgb(0, 0, 0);
        font-weight: 500;
    }
    .content .textBox a{
        display: inline-block;
        margin-top: 1vw;
        padding: 0.5vw 2vw;
        background-color: rgb(23, 109, 27);
        color: white;
        border-radius: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
    }
    .content .imgBox{
        width: 60vw;
        display: flex;
        justify-content: flex-end;
        padding-right: 3vw;
        margin-top: 3vw;
    }
    
    .content .imgBox img{
        max-width: 200px;
    }
}